#cloud-config
hostname: ${hostname}
fqdn: ${hostname}.${domain_name}
manage_etc_hosts: False

users:
  - name: tenzin-bot
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: sudo
    ssh-authorized-keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOhbDE4Z7nZPnD2bnCH8jr24ylewhbd+gFJFR5Jmjtwi tenzin-bot

# chpasswd:
#   list: |
#     root:Welcome123!
#   expire: False

ssh_pwauth: False

package_update: true
package_upgrade: true
packages:
  - git
  - curl
  - qemu-guest-agent
  %{~ if install_nvidia_gpu_driver }
  - nvidia-driver-550-server
  %{~ endif }

power_state:
 mode: reboot
 message: System restart required
 timeout: 300
 condition: True

bootcmd:
  - sed -i 's/^GRUB_CMDLINE_LINUX=.*/GRUB_CMDLINE_LINUX="mitigations=off"/g' /etc/default/grub
  - update-grub