#cloud-config
hostname: ${hostname}
fqdn: ${hostname}.${domain_name}
manage_etc_hosts: false

users:
  - name: tenzin-bot
    sudo: ALL=(ALL) NOPASSWD:ALL
    passwd: "$6$sqRzAY8A30QBGXsE$NfLjmiQ42sxHpU3FEjcM1PzSzxYUpLpfwQ.WcVvg.YRqvPJ5Wno2GqpDFh07vi4BSLWXTDEfybV5POMgNWddI1"
    groups: sudo
    lock_passwd: false
    ssh-authorized-keys:
      - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOhbDE4Z7nZPnD2bnCH8jr24ylewhbd+gFJFR5Jmjtwi tenzin-bot"

ssh_pwauth: false

package_update: true
package_upgrade: true
packages:
  - git
  - curl
  - qemu-guest-agent

power_state:
 mode: reboot
 message: System restart required
 timeout: 300
 condition: true

bootcmd:
  - sed -i 's/^GRUB_CMDLINE_LINUX=.*/GRUB_CMDLINE_LINUX="mitigations=off"/g' /etc/default/grub
  - update-grub

%{ if length(data_disks) > 0 ~}
disk_setup:
%{ for device, props in data_disks ~}
  ${device}:
    table_type: gpt
    layout: [100]
    overwrite: true
%{ endfor ~}

fs_setup:
%{ for device, props in data_disks ~}
  - device: ${device}
    filesystem: ${props.fs_type}
%{ endfor ~}

mounts:
%{ for device, props in data_disks ~}
  - [ ${device}, ${props.mount_path} ]
%{ endfor ~}
%{~ endif ~}

%{ if length(launch_script) > 0 ~}
write_files:
  - path: /var/tmp/launch_script.sh
    owner: root:root
    permissions: 0o755
    content: |-
      ${indent(6, launch_script)}

runcmd:
  - [ bash, /var/tmp/launch_script.sh ]
%{~ endif ~}